@import url('https://fonts.cdnfonts.com/css/montserrat');
html {
  font-size: 14px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
tr:nth-child(even) {
  background-color: #4279c1; 
}
tr:nth-child(odd) {
  background-color: #4e96d9;
}
tr:first-child {
  background-color: #134e9b;
}
td {
  padding: 5px;
}

/* Animation Stuff https://codepen.io/anon/pen/vodRyz */
.slider {
  position: absolute;
  list-style-type: none;
  text-align: center;
  animation: slider linear infinite;
}

@keyframes slider {
  0%   { transform: translateY(100vh) }
  100% { transform: translateY(-100%) }
}

